ion-icon {
  color: rgb(21, 160, 224) !important;
  font-weight: bold;
  font-size: 25px;
  .editIcon {
    color: black;
  }
}

// ion-item ion-label {
//     margin-right: 60px;
// }
#userimage {
  margin-left: 20%;
  margin-right: 20%;
  // border-radius: 15%;
  height: 150px;
  width: 60%;
  // margin-top: 20%;
}

ion-row {
  width: 800px;
  height: 500px;
  text-align: left;
  // margin-top: 10%;
  // margin-left: auto;
  // margin-right: auto;
  // width: 70%;
  margin-bottom: 3%;
}

#info {
  margin-top: 3%;
  margin-left: 2%;
  text-align: justify;
  color: rgb(5, 56, 80);
}

ion-label.user {
  color: rgb(29, 50, 59);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 2%;
  // margin-left:25%;
}

.name {
  font-size: 14px;
  padding: 10px;
}

.username {
  // margin-left:42%;
  font-size: 20px;
  padding: 5%;
  color: rgb(5, 56, 80);
  font-weight: bold;
}

ion-label.accountInfo {
  text-align: center;
  font-size: 30px;
  // padding: 2%;
}

ion-card {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

@media (max-width: 968.98px) {
  ion-card {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 698.98px) {
  ion-card {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

h1 {
  text-align: center;
  margin-bottom: 5%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(5, 56, 80);
  font-size: 30px;
}

nobr {
  text-transform: uppercase;
}

nobr.close {
  margin-right: 96%;
  font-size: 50px;
  padding-top: 15px;
}

.verticalLine {
  border-left: 1px solid #2c3038;
  border-bottom: 2%;
  height: 400px;
  width: 0.5px;
  text-align: center;
  margin-left: 5%;
}

// .header{
//     background-color: lavenderblush;
// }
.background {
  --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
}

img{
  height: 100%;
  width: auto;
}