<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
    <!-- <ion-title>Reset Your Password</ion-title> -->
    <ion-card *ngIf="emailCard"><br><br><br>
        <div id="container1">
            <img alt="logo" id="header_logo" height="100" float-left src="assets/images/msqlogo.png"><br>
        </div><br>
        <ion-card-title>
            <div text-center>
                <h3><b>Reset Password</b></h3>
            </div>
        </ion-card-title>
        <form #form1="ngForm" (ngSubmit)="sendPassResetCode(form1)" novalidate>
            <h4>
                Enter your user account's email address and we will send you the code to reset your password.
            </h4><br>
            <ion-item>
                <ion-icon name="mail"></ion-icon>&nbsp;
                <ion-input name="email" [(ngModel)]='email' type="email" #emailCtrl="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    placeholder="your@gmail.com" ngModel required email></ion-input>
            </ion-item><br>
            <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched && emailCtrl.errors?.required">
                <ion-text color="danger">Email is required</ion-text>
            </ion-label><br><br>
            <ion-button size="large" type="submit" color='secondary' [disabled]="form1.invalid" expand="block">Send
                Email</ion-button><br><br>
            <a [routerLink]="['/login']">
                <ion-text>Back to Login</ion-text>
            </a>
        </form>
    </ion-card>
    <ion-card *ngIf="codeCard"><br><br><br>
        <div id="container1">
            <img alt="logo" id="header_logo" height="100" float-left src="assets/images/msqlogo.png"><br>
        </div>
        <form #form2="ngForm" (ngSubmit)="checkCode(form2)" novalidate><br><br>
            <ion-item>
                <ion-input placeholder="Enter Code" name="code" [(ngModel)]="code" ngModel required code></ion-input>
            </ion-item><br>
            <ion-button size="large" type="submit" color='secondary' [disabled]="form2.invalid" expand="block">Send
                Code</ion-button><br><br>
            <a [routerLink]="['/login']">
                <ion-text>Back to Login</ion-text>
            </a>
        </form>
    </ion-card>
    <ion-card *ngIf="newPass"><br><br><br>
        <div id="container1">
            <img alt="logo" id="header_logo" height="100" float-left src="assets/images/msqlogo.png"><br>
        </div><br><br>
        <form #form="ngForm" (ngSubmit)="updatePassword(form)" novalidate>
            <ion-item>
                <ion-icon name="key-outline"></ion-icon>&nbsp;
                <ion-input name="password" [(ngModel)]='user.password' compare-password="confirm" type="{{type}}"
                    #password="ngModel" [ngClass]="{ 'is-invalid': form.submitted && password.invalid}" placeholder="New Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel minlength="6" required (ionInput)="validatePassword($event)"
                    (ionBlur)="onBlur($event)"></ion-input>
                <button class="btnEye" *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
                    <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                </button>
                <button class="btnEye" *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
                    <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                </button>
            </ion-item><br>
            <ion-label *ngIf="!password.valid && password.touched && password.errors?.required">
                <ion-text color="danger">Password is required</ion-text>
            </ion-label>
            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>6 characters</b></p>
            </div><br>
            <ion-item>
                <ion-icon name="key-sharp"></ion-icon>&nbsp;
                <ion-input name="confirm" [(ngModel)]='user.confirm' mustMatch="password" type="{{type1}}" #confirm="ngModel"
                    [ngClass]="{ 'is-invalid': form.submitted && confirm.invalid}" placeholder="Confirm Password"
                    pattern="{{password.value}}" ngModel required (ionInput)="confirmPassword($event)">
                </ion-input>
                <button class="btnEye" *ngIf="!showPass1" ion-button clear color="dark" type="button" item-right
                    (click)="showPasswordConfirm()">
                    <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                </button>
                <button class="btnEye" *ngIf="showPass1" ion-button clear color="dark" type="button" item-right (click)="showPasswordConfirm()">
                    <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                </button>
            </ion-item><br>
            <ion-label *ngIf="!confirm.valid && confirm.touched && confirm.errors?.required">
                <ion-text color="danger">Confirm Password is required</ion-text>
            </ion-label><br>
            <ion-label *ngIf="passwordMatch == false">
                <ion-text color="danger">Password must match</ion-text>
            </ion-label><br>
            <ion-button size="large" type="submit" color='secondary' [disabled]="form.invalid" expand="block">Save New
                Password</ion-button>
        </form>
    </ion-card>
</ion-content>