ion-card {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    top: 15%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

@media (max-width: 968.98px) {
    ion-card {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 698.98px) {
    ion-card {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

ion-item {
    --background: none;
    --color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px #808080;
}

ion-item ion-icon {
    color: rgba(21, 160, 224, 1);
}

ion-content.background {
    --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
    border-bottom-left-radius: 70%;
}

#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 130px;
    height: 120px;
    border: 4px solid #22bbea8f;
    // position: absolute;
    // transform: translateY(-5%);
    // transform: translateX(625%);
    // margin:0 auto;
    // width:100px;
}

#container1 {
    text-align: center;
    position: fixed;
    left: 43%;
    right: 43%;
    top: 16%;
    transform: translateY(-50%);
}

@media (max-width: 767.98px) {
    #container1 {
        left: 34%;
        right: 34%;
    }
}

form {
    text-align: center;
    padding: 20px;
}

.btnEye {
    background-color: transparent;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 20px;
    font-size: 18px;
}

@media (max-width: 767.98px) {
    #message p {
        font-size: 13px;
    }
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}