ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-item.active div {
  background-color: rgba(0, 0, 0, 0.3);
}

#company {
  font-family: fantasy;
}

ion-img {
  --border-radius: 50%;
}

#header_logo {
  // background-color: rgba(255, 255, 255, 0.3);
  border-radius: 60%;
  padding: 3px;
  width: 110px;
  height: 120px;
  // border: 2px solid #22bbea8f;
}

#head {
  background: linear-gradient(to top right, #33ccff 0%, #3366ff 100%);
}

.header {
  // position: relative;
  // overflow: hidden;
  margin-bottom: 30px;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: rgba(21, 160, 224, 0.5) !important;
  transform: rotate(30deg);
  border-radius: 40px;
}

.header ion-title {
  position: absolute;
  left: 100px;
  top: 30px;
  font-size: 18px;
}

.header ion-img {
  position: relative;
  top: 0;
  width: 100px;
  height: 100px;
}

ion-note {
  position: absolute;
  margin-left: 115px;
  top: 125px;
  font-size: 14px;
  color: #ffffff !important;
  font-weight: 300;
}

ion-item {
  margin-bottom: 8px;
  // text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

ion-item div {
  width: 100%;
  padding: 15px;
}

ion-item div ion-icon {
  position: absolute;
  font-size: 25px;
  top: 11px;
  // --color: #15a0e0;
}

ion-item div ion-label.user {
  margin-left: 0;
}

ion-item div .prof {
  position: absolute;
  top: 50%;
  right: 15px;
  padding-right: 15px;
  transform: translateY(-50%);
}

ion-item.item:hover div {
  background-color: rgba(21, 160, 224, 0.5) !important;
  color: white !important;
}

ion-item ion-label {
  position: relative;
  margin-left: 60px;
}

ion-app {
  overflow: hidden;
}

@media (max-width: 968.98px) {
  ion-note {
    font-size: 15px;
    text-align: right;
  }
  .header ion-item span {
    font-size: 20px;
  }
  ion-item ion-label {
    font-size: 14px;
  }
}

#company {
  font: 35px;
}
ion-img {
  height: 50%;
  width: 50%;
}
strong {
  font-size: 17px;
  margin-left: 0;
  // font-weight: 500;
  // color: rgba(21, 160, 224, .5)
  // text-align: right;
}
