<ion-menu contentId="main-content" *ngIf="user || dashboard">
    <ion-header>
        <div id="head"><br>
            <ion-list-header>
                <img id="header_logo" src="../assets/images/msqlogo.png">&nbsp;
                <!-- <span id="company">Ms.Q
                                Associates</span> -->
                <h1 id="company">Ms. Q Associates
                </h1>
            </ion-list-header><br>
            <ion-note>"We serve at your pleasure"</ion-note>
        </div>
    </ion-header>
    <ion-content>
        <ion-list id="inbox-list">

            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="profile" routerDirection="root" lines="none" *ngIf="user">
                    <div (click)="openProfile()" id="profile">
                        <ion-label class="user">{{ user.name }}</ion-label>
                        <ion-icon class="prof" name="pencil"></ion-icon>
                    </div>
                </ion-item>
                <ion-item routerLink="place-order" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="place-order">
                        <ion-icon slot="start" name="bag-add"></ion-icon>
                        <ion-label>Place Order</ion-label>
                    </div>
                </ion-item>
                <ion-item routerLink="workforce" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="workforce">
                        <ion-icon slot="start" name="build"></ion-icon>
                        <ion-label>Workforce</ion-label>
                    </div>
                </ion-item>
                <ion-item routerLink="finance" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="finance">
                        <ion-icon slot="start" name="wallet"></ion-icon>
                        <ion-label>Finance</ion-label>
                    </div>
                </ion-item>
                <ion-item routerLink="bookings" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="bookings">
                        <ion-icon slot="start" name="calendar"></ion-icon>
                        <ion-label>Bookings</ion-label>
                    </div>
                </ion-item>
                <ion-item routerLink="promotions-news" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="promotions-news">
                        <ion-icon slot="start" name="newspaper"></ion-icon>
                        <ion-label>Promotions/News</ion-label>
                    </div>
                </ion-item>
                <ion-item routerLink="settings" routerDirection="root" lines="none">
                    <div (click)="onClickNav($event)" id="settings">
                        <ion-icon slot="start" name="settings-sharp"></ion-icon>
                        <ion-label>Settings</ion-label>
                    </div>
                </ion-item>
                <ion-item lines="none">
                    <div (click)="logout()">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </div>
                </ion-item>
                <ion-item lines="none" (click)="clickChatSupport()">
                    <div>
                        <ion-icon name="help-circle-outline"></ion-icon>
                        <ion-label>Chat Support</ion-label>
                    </div>
                </ion-item>
                <ion-item lines="none">
                    <div>
                        <ion-icon name="share-social-outline"></ion-icon>
                        <ion-label>Share to Friends</ion-label>
                    </div>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main-content" *ngIf="loaded"></ion-router-outlet>
<div *ngIf="!loaded" id="main-content" style="width: 100%; height: 100%;">
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-skeleton-text animated style="width: 100%; height: 27px" slot="start"></ion-skeleton-text>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</div>
