ion-content {
    width: 100%;
}

div.web {
    background: url('../../assets/images/Conference.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

div.mobile {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
}

.mobile-content-header strong {
    font-size: 40px;
    line-height: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.tag-line {
    border-bottom: 2px solid #22bbea8f;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.mobile-content-header {
    text-align: center;
    margin-top: 30px;
}

#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 130px;
    height: 120px;
    margin-bottom: 20px;
}

.mobile-content {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

ion-button {
    margin-bottom: 30px;
}

@media (max-width: 968.98px) {
    .tag-line {
        width: 45%;
        margin-left: 27.5%;
        margin-right: 27.5%;
    }
}

@media (max-width: 767.98px) {
    ion-content.background {
        --background: url(../../assets/images/Conference.png) 0 0/100% 43% no-repeat;
    }
    div.web {
        width: 0;
    }
    div.mobile {
        width: 100%;
    }
    .mobile-content-header {
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 52%;
        transform: translateY(-50%);
    }
    .mobile-content-header strong {
        font-size: 35px;
    }
    .tag-line {
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
    #header_logo {
        border: 4px solid #22bbea8f;
        margin-bottom: 10px;
    }
    .mobile-content {
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 84%;
        transform: translateY(-50%);
        margin-left: 20%;
        margin-right: 20%;
    }
    ion-button {
        margin-bottom: 10px;
    }
}

.divider {
    display: flex;
    margin-bottom: 30px;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

#btnCreate {
    // background-color: rgb(21, 160, 224);
    color: white;
}