ion-icon.back {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 25px;
}

@media (max-width: 968.98px) {
    ion-icon.back {
        margin-left: 5px;
        margin-right: 10px;
    }
    
}

#maps {
    height: 100% !important;
}
