<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>ShareTo </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-app>

  <ion-header translucent>
    <ion-toolbar>
      <ion-card lines="none" class="header" side="start">
        <ion-icon class="back" name="arrow-back"></ion-icon>
        <ion-title>Share To</ion-title>
      </ion-card>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item-group class="group">
        <ion-item>
          <div>
            <img class="social-" src="assets/images/facebook.png" />
            <span>Facebook</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="instagram" src="assets/images/instagram.png" />
            <span>Instagram</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="twitter" src="assets/images/twitter.png" />
            <span>Twitter</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="whatsapp" src="assets/images/whatsapp.png" />
            <span>Whatsapp</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="linkedin" src="assets/images/linkedin.png" />
            <span>LinkedIn</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="gmail" src="assets/images/gmail.png" />
            <span>Gmail</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="message" src="assets/images/message.png" />
            <span>Message</span>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <img class="messenger" src="assets/images/messenger.png" />
            <span>Messenger</span>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</body>
