<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Live Chat</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="close-btn">
      <ion-icon name="close" routerLink="/place-order"></ion-icon>
    </div>
    <div class="preload">
      Today: <br />
      {{today | date}}
    </div>
    <div class="greeting-msg">
      <div class="start">
        <p class="heading">Chat Started</p>
        <span class="sub-heading">{{ time | date :'shortTime'}}</span>
        <div class="msg">
          <p class="msg-title">
            Thank you for contacting MissQ Associates. Please wait for a moment
            while we get you connected to the next available live chat agent.
          </p>
          <!-- <span class="msg-subtitle">{{time | date : 'shortTime'}}</span> -->
        </div>
      </div>
    </div>
    <br /><br />
    <img class="user" src="" alt="" />
  </div>
  <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <div
          class="message"
          *ngFor="let message of messages"
          [ngClass]="getClasses(message.type)"
        >
          <div *ngIf="currentUser !== message.user" class="other-user">
            <p>
              <ion-chip>
                <ion-avatar>
                  <img [src]="image" />
                </ion-avatar>
                <label style="color: rgb(85, 85, 85)">{{currentUser}}</label
                ><br /> </ion-chip
              ><br /><br />
              &nbsp;&nbsp;<span style="color: black"> {{message.text}} </span
              ><br />
            </p>
            <label style="margin-left: 5%; font-size: 10px">
              {{message.timeStamp}} </label
            ><br /><br />
          </div>
          <div *ngIf="currentUser === message.user" class="my-message">
            <p>
              <ion-chip>
                <ion-avatar>
                  <img [src]="image" />
                </ion-avatar>
                <label style="color: rgb(85, 85, 85)">{{currentUser}}</label
                ><br /> </ion-chip
              ><br /><br />
              &nbsp;&nbsp;<span class="name"> {{message.text}} </span><br />
            </p>
            <label style="margin-right: 5%; font-size: 12px">
              {{message.timeStamp}} </label
            ><br /><br />
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="input-area">
  <form (submit)="sendMessage()" #messageForm="ngForm">
    <ion-input
      type="text"
      name="message"
      id="message"
      [(ngModel)]="message"
      placeholder="Type your message here"
    ></ion-input>
    <button [disabled]="message===''">
      <ion-icon name="send" class="send-icon"></ion-icon>
    </button>
  </form>
</ion-footer>
