<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="container"> -->
    <!-- <div class="head">
      <ion-input>Filter</ion-input>
    </div>
    <div class="content">
      <div class="column2">
        <button class="btn">Edit</button>
        <button class="btn1">Delete Booking</button>
        <img> 
        <h1>Sample</h1>
        <ion-card>
          <ion-card-content>
            <div class="col-2-left" *ngIf="user">
              <p>{{user.email}}</p>
            </div>
            <div class="col-2-right" *ngIf="user">
              <p>{{user.phone}}</p>
            </div>
            
          </ion-card-content>
        </ion-card>
        <table>
      <div class="row header">
        <th><div class="col1">Service Booking</div></th>
        <th><div class="col1">Schedule</div></th>
        <th><div class="col1">Notes</div></th>
        <th><div class="col1">Location</div></th>
        <th><div class="col1"></div>
      </div>
      <div class="row" *ngIf="user">
        <td><div class="col1">{{user.service_booking}}</div></td>
        <td><div class="col1">{{user.schedule}}</div></td>
        <td><div class="col1">{{user.notes}}</div></td>
        <td><div class="col1">{{user.service_location}}</div></td>
      </div>
    </table>
      <div class="row header">
        <th><div class="col2">Item</div></th>
        <th><div class="col2">Hours of Service</div></th>
        <th><div class="col2">Cost</div></th>
      </div>
      <div class="row2" *ngFor="let bk of bookings">
        <td><div class="col2">{{bk.service_booking}}</div></td>
        <td><div class="col2">{{bk.schedule}}</div></td>
        <td><div class="col2">{{bk.cost}}</div></td>
      </div>
        <br>
        <label for="payment">Payment Method:</label>
        <select name="payment" id="payment">
          <option value="gcash">Gcash</option>
          <option value="paymaya">PayMaya</option>
          <option value="creditcard">Credit Card</option>
        </select>
        <p>Payment Status:</p>
      </div> -->
      <div class="container">
        <div *ngFor="let b of bookings">
          <ion-card (click)="openModal()">
            <ion-card-content>
              <div class="col-1-left">
                <div>{{b.schedule}}</div>
              </div>
              <div class="col-1-mid">
                <p>SERVICE BOOKING: {{b.service_booking}}</p>
                <p> COST: {{b.cost}}</p>
                <p>LOCATION: {{b.service_location}}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->

</ion-content>