// ion-card {
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     transition: 0.3s;
//     width: 94%;
//     margin-left: 3%;
//     margin-right: 3%;
//     border-radius: 1%;
//     background: rgba(white, 0.5);
// }
// .column {
//     float: left;
//     width: 30%;
//   }
  
//   /* Clear floats after the columns */
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }
// #card {
//     float: right;
//     width:100%;
// }

// .profile {
//     width:100%;
    
// }

// .image {
//     float:right;
// }

.container {
    margin: 40px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 97%;
    height: 100vh;
    position: absolute;
}

.container .head {
    width: 100%;
}

.content {
    position: absolute;
    width: 100%;
}
.column1 {
    position: absolute;
    width: 65%;
    height: 100%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.column2 {  
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.col-1-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: white;
    border: 1px solid black;
}
.col-1-mid {
    position: absolute;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
    background: white;
    border: 1px solid black;
}
// .col-1-right {
//     position: absolute;
//     top: 0%;
//     right: 0;
//     width: 10%;
//     height: 100%;
//     background: skyblue;
// }
.col-2-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    // background: gray;
}
.col-2-right {
    position: absolute;
    top: 0;
    left:50%;
    width: 50%;
    height: 100%;
    // background: skyblue;
}
ion-icon {
    margin: 10% 25% 25% 40%;
}

img {
    border-radius: 100%;
    width: 35%;
    margin-top:5%;
    margin-left: 30%;
}

h1 {
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:5%;
  }
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.btn {
    border:1px solid black;
    margin-left:50%;
}
.btn1 {
    border:1px solid black;
    margin-right:10%;
}
@media (max-width: 767.98px) {
    .column1 {
        width: 100%;
    }
    
    .column2 {  
        width: 100%;
        position: relative;
    }
}