.container {
    margin: 40px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 97%;
    height: 128vh;
    position: absolute;
}

.container .head {
    width: 100%;
}

.content {
    position: absolute;
    width: 100%;
}
.column1 {
    position: absolute;
    width: 35%;
    height: 100%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.column2 {  
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ion-card {
    height: 10vh;
}

.col-1-left {
    position: absolute;
    top: 0;
    left: 5;
    width: 45%;
    height: 100%;
    background: white;
    // border: 1px solid black;
}
.col-1-mid {
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
    background: white;
    // border: 1px solid black;
}
// // .col-1-right {
// //     position: absolute;
// //     top: 0%;
// //     right: 0;
// //     width: 10%;
// //     height: 100%;
// //     background: skyblue;
// // }
// .col-2-left {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 50%;
//     height: 100%;
//     // background: gray;
// }
// .col-2-right {
//     position: absolute;
//     top: 0;
//     left:50%;
//     width: 50%;
//     height: 100%;
//     // background: skyblue;
// }
ion-icon {
    margin: 10% 25% 25% 40%;
}

img {
    border-radius: 100%;
    width: 35%;
    margin-top:5%;
    margin-left: 30%;
}

h1 {
    text-align: center;
}
// table {
//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//     width: 100%;
//     margin-top:5%;
//   }
  
// td, th {
//     border: 1px solid black;
//     text-align: left;
//     padding: 8px;
// }
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.btn {
    border:1px solid black;
    margin-left:50%;
}
.btn1 {
    border:1px solid black;
    margin-right:10%;
}
.header .col1 {
    background-color:lightgrey;
}

.col1 {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
.col1:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col1 {
    border-bottom: solid 1px grey;
}
.header .col2 {
    background-color:lightgrey;
}

.col2 {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
.col2:last-child {
    border-right: solid 1px grey;
}

.row2:last-child .col2 {
    border-bottom: solid 1px grey;
}
@media (max-width: 767.98px) {
    .column1 {
        width: 100%;
    }
}