<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Workforce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="light">
    <ion-card>
      <ion-segment value="ideals" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="workforceIdeals">
          <ion-label>Ideal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="workforceBanned">
          <ion-label>Banned</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-toolbar>

  <ion-card *ngIf="segmentModel === 'workforceIdeals'">
    <ion-card-header color="secondary">
      <ion-card-title>Ideal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let worker of ideals; let i = index">
          <ion-item>
            <button class="display" (click)="openModal(worker);">
              {{worker.name}}
            </button>
          </ion-item>
          <ion-item-options side="end">
            <ion-icon class="del" (click)="dltList(worker._id)" name="trash"></ion-icon>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
    <p *ngIf="!ideals">No ideal worker.</p>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'workforceBanned'">
    <ion-card-header color="secondary">
      <ion-card-title>Banned</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let worker of banned ; let i = index">
          <ion-item>
            <button class="display" >
                {{worker.name}}
            </button>
          </ion-item>
          <ion-item-options side="end">
            <ion-icon class="del" (click)="dltBanned(worker._id)" name="trash"></ion-icon>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
    <p *ngIf="!banned">No banned worker.</p>
  </ion-card>

</ion-content>