<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Workforce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="light">
    <ion-card>
      <ion-segment value="nanny" color="white" scrollable="true" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="ideal">
          <ion-label>Ideal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="banned">
          <ion-label>Banned</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-card>
  </ion-toolbar>

  <ion-card *ngIf="segmentModel === 'ideal'">
    <ion-card-header color="secondary">
      <ion-card-title>Ideal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{item}}
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>