ion-toolbar {
    --background: rgba(21, 160, 224, 1) !important;
}

#background {
    --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
    // border-bottom-left-radius: 50%;
    width: 100%;
    // height: 10%;
}

ion-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 1%;
    background: rgba(white, 0.5);
}


$font-color: #A2A2A2;
$primary-color: #63B7E6;


@media (max-width: 968.98px) {
    ion-col {
        width: 100%;
    }
}

@media (max-width: 698.98px) {
 
    ion-col {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    // ion-card {
    //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    //     transition: 0.3s;
    //     width: 96%;
    //     margin-left: 2%;
    //     margin-right: 2%;
    //     border-radius: 1%;
    //     background: rgba(white, 0.5);
    // }


ion-content {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    ion-card {
        padding: 40px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        &:hover span {
            color: $primary-color;
        }
        &:hover ion-card-subtitle {
            color: #555;
            font-weight: 200px;
        }
        &:hover p {
            color: #555;
            font-weight: 200px;
        }
        &:hover ion-card-content {
            color: #555;
            font-weight: 200px;
        }
        &:hover ion-card-title {
            color: $primary-color;
        }
        &:hover ion-card-title:after {
            width: 25px;
        }
        span {
            font-size: 3em;
            display: block;
            transition: color .3s;
            color: $font-color;
            &:before,
            &:after {
                position: static;
            }
        }
        ion-card-title {
            font-weight: 200;
            font-size: 30px;
            color: $primary-color;
            text-align: center;
            color: darken($font-color, 20%);
            font-size: 24px;
            font-weight: 100;
            transition: color .3s;
            &:after {
                content: '';
                position: relative;
                left: 50%;
                top: 5px;
                transform: translateX(-50%);
                display: block;
                width: 40px;
                height: 1px;
                background: darken($font-color, 20%);
                transition: width .5s;
            }
        }
        ion-card-subtitle {
            color: $font-color;
            text-align: center;
            text-indent: 1em;
            font-size: 16px;
            line-height: 26px;
            transition: color .3s;
        }
        ion-card-content {
            text-align: center;
            font-size: 18px;
            color: $font-color;
            text-indent: 1em;
            line-height: 26px;
            transition: color .3s;
        }
        p {
            text-align: center;
            display: inline-block;
            color: $font-color;
            text-indent: 1em;
            font-size: 16px;
            line-height: 26px;
            transition: color .3s;
        }
    }
}
}

div {
    margin: 10%;
}



.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(100% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 430px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateX(-10%) translateZ(50px) scale(0.80);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    // margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 100rem) {
    .col {
        width: calc(100%);
    }
}

@media screen and (max-width: 100rem) {
    .col {
        width: calc(100%);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}

.social-icons ion-icon {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(50deg, white, rgba(21, 160, 224, 1));
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover ion-icon {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: white;
    background: -webkit-linear-gradient(50deg, white, rgba(21, 160, 224, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}