#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 130px;
    height: 120px;
    border: 4px solid #22bbea8f;
    // position: absolute;
    // transform: translateY(-5%);
    // transform: translateX(625%);
    // margin:0 auto;
    // width:100px;
}

ion-title {
    margin-left: 10%;
}

ion-content.background {
    --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
    border-bottom-left-radius: 70%;
}

#container1 {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 27%;
    transform: translateY(-50%);
}

form {
    text-align: center;
    // position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    // transform: translateY(-1%);
    // margin-left: 20%;
    // margin-right: 20%;
}

ion-card {
    margin-left: 5%;
    margin-right: 5%;
    position: fixed;
    left: 0;
    right: 0;
    top: 25%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
}

ion-card-title {
    font-family: cursive;
    color: black;
    // font-size: 40px;
    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: rgb(21, 160, 224);
}

ion-item {
    --background: white;
    --color: black;
    border-radius: 30px;
    box-shadow: 3px 3px #808080;
}

#back {
    background-color: white;
    background-color: white;
    border-radius: 60%;
    padding: 6px;
    width: 55px;
    border: 4px solid #22bbea8f;
}