<ion-content class="background">
    <ion-card>
        <div id="back">
            <!-- <img height="30" float-left src="assets/images/back2.png" [routerLink]="['/home']"> -->
            <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        </div>

        <div id="container1">
            <img alt="logo" id="header_logo" height="100" float-left src="assets/images/msqlogo.png"><br>
        </div>
        <form #form="ngForm" (ngSubmit)="login(form)">
            <ion-card-title>
                <div text-center>
                    <h3>Login !</h3>
                </div>
            </ion-card-title>
            <ion-card-content>
                <div padding>
                    <ion-item>
                        <ion-icon class="icon" name="mail"></ion-icon>&nbsp;
                        <ion-input name="email" type="email" #emailCtrl="ngModel" placeholder="your@gmail.com" [ngModel]="name" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required email></ion-input>
                    </ion-item>
                    <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched">
                        <ion-text color="danger">Email is not valid</ion-text>
                    </ion-label><br>
                    <ion-item>
                        <ion-icon class="icon" name="key"></ion-icon>&nbsp;
                        <ion-input name="password" type="{{type}}" #passCtrl="ngModel" placeholder="Password" [ngModel]="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required></ion-input>
                        <button class="btnEye" *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
                            <ion-icon name="eye" style="font-size:25px;"></ion-icon>
                         </button>
                        <button class="btnEye" *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
                            <ion-icon name="eye-off" style="font-size:25px;"></ion-icon>
                         </button>
                    </ion-item>
                    <ion-label *ngIf="!passCtrl.valid && passCtrl.touched">
                        <ion-text color="danger">Password is incorrect.</ion-text>
                    </ion-label>
                    <br>
                </div><br>
                <div>
                    <ion-button size="large" color='secondary' type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
                </div><br>
                <a routerLink="/forgot-password">
                    <ion-text h>Forgot Password?</ion-text>
                </a>
            </ion-card-content>
        </form>
    </ion-card>
</ion-content>