#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 130px;
    height: 120px;
    border: 4px solid #22bbea8f;
    // position: absolute;
    // transform: translateY(-5%);
    // transform: translateX(625%);
    // margin:0 auto;
    // width:100px;
}

ion-title {
    margin-left: 10%;
}

ion-content.background {
    --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
    border-bottom-left-radius: 70%;
}

#container1 {
    text-align: center;
    position: fixed;
    left: 43%;
    right: 43%;
    top: 16%;
    transform: translateY(-50%);
}

@media (max-width: 767.98px) {
    #container1 {
        left: 34%;
        right: 34%;
    }
}

form {
    text-align: center;
    padding: 10px;
}

ion-card {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    top: 15%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 968.98px) {
    ion-card {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 698.98px) {
    ion-card {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

ion-card-title {
    // font-family: cursive;
    color: black;
    // font-size: 40px;
    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: rgba(21, 160, 224);
}

ion-item {
    --background: none;
    --color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px #808080;
}

ion-item ion-icon.icon {
    padding: 5px;
    background-color: rgba(21, 160, 224, 1);
    color: white;
}

ion-item ion-icon {
    color: rgba(21, 160, 224, 1);
}

#back {
    padding: 6px;
    font-size: 40px;
}

#back ion-icon {
    font-weight: 900;
}

ion-button {
    font-weight: 900;
}

.btnEye {
    background-color: transparent;
}