ion-title {
    margin-left: 10%;
}

#back {
    text-align: center;
}

#container1 {
    text-align: center;
    position: absolute;
    left: 38%;
    right: 38%;
    top: 0;
}

@media (max-width: 767.98px) {
    #container1 {
        left: 38%;
        right: 38%;
    }
}

ion-content.background {
    --background: url(../../assets/images/Conference.png) 0 0/100% 100% no-repeat;
    border-bottom-left-radius: 70%;
}

form {
    margin-top: 20px;
    // text-align: center;
    left: 0;
    right: 0;
    padding: 10px;
}

#header_logo {
    background-color: white;
    border-radius: 60%;
    padding: 8px;
    width: 160px;
    height: 90px;
    border: 4px solid #22bbea8f;
    // position: absolute;
    // transform: translateY(-5%);
    // transform: translateX(625%);
    // margin:0 auto;
    // width:100px;
}

ion-card-title {
    // font-family: cursive;
    color: black;
    text-align: center;
    // font-size: 40px;
    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: rgba(21, 160, 224);
}

ion-card {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    float: center;
    // border-top-right-radius: 50px;
    // border-bottom-left-radius: 50px;
    background: rgba(255, 255, 255, .8);
}

@media (max-width: 968.98px) {
    ion-card {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 698.98px) {
    ion-card {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

ion-item {
    --background: none;
    --color: black;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 1.5px solid black;
    box-shadow: 3px #808080;
}

ion-item ion-icon.icon {
    padding: 5px;
    background: rgba(21, 160, 224, 1);
    color: white;
    // min-width: 50px;
    // text-align: center;

    // color: rgba(21, 160, 224, 1);
}

.back {
    padding: 6px;
    font-size: 40px;
    font-weight: bold;
}

.btnEye {
    color: rgba(21, 160, 224, 1);
    background-color: transparent;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 20px;
    font-size: 18px;
}

@media (max-width: 767.98px) {
    #message p {
        font-size: 13px;
    }
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

// .input-container {
//     display: -ms-flexbox; /* IE10 */
//     display: flex;
//     width: 100%;
//     margin-bottom: 15px;
//     font-size: 18px;
// }

// .input-field{
//     cursor: pointer;
//     border: 2px solid dodgerblue;
//     // background: none;
//     width: 100%;
//     height: 35px;
//     padding: 20px;
//     outline: none;
// }

// .input-field:focus{
//     padding: 10px;
//     -moz-box-shadow: 0 0 8px rgba(21, 160, 224, 1);
//     -webkit-box-shadow: 0 0 8px rgba(21, 160, 224, 1);
//     box-shadow: 0 0 8px rgba(21, 160, 224, 1);
//     width: 100%;
//     height: 35px;
//     padding: 20px;
// }

// .icon {
//     padding: 10px;
//     background: dodgerblue;
//     color: white;
//     min-width: 50px;
//     text-align: center;
// }