<ion-content class="background">
  <ion-card>
    <div class="back">
      <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
    </div>
    <div id="container1">
      <img
        alt="logo"
        id="header_logo"
        height="100"
        float-left
        src="assets/images/msqlogo.png"
      /><br />
    </div>
    <form #form="ngForm" (ngSubmit)="register(form)" novalidate>
      <br />
      <ion-card-title>
        <div text-center>
          <h3>Create Your Account!</h3>
        </div>
      </ion-card-title>
      <ion-card-content>
        <div padding>
          <ion-item class="input-container">
            &nbsp;
            <ion-icon name="person-circle-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="name"
              [(ngModel)]="user.name"
              type="text"
              #nameCtrl="ngModel"
              placeholder=" Full Name"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="!nameCtrl.valid && nameCtrl.touched && nameCtrl.errors?.required"
          >
            <ion-text color="danger">Name is required</ion-text> </ion-label
          ><br />
          <ion-item class="input-container">
            <ion-icon name="location-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="address"
              [(ngModel)]="user.address"
              #addCtrl="ngModel"
              type="text"
              placeholder="Address"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="!addCtrl.valid && addCtrl.touched && addCtrl.errors?.required"
          >
            <ion-text color="danger">Address is required</ion-text> </ion-label
          ><br />
          <ion-item class="input-container">
            <!-- <div class="item row">
                            <div c color='secondary'lass="col"> -->
            <ion-icon name="call-sharp" class="icon"></ion-icon>&nbsp;
            <ion-select
              name="code"
              [(ngModel)]="user.code"
              type="text"
              #codeCtrl="ngModel"
              placeholder="Country Code"
              ngModel
              required
            >
              <ion-select-option *ngFor="let per of dataList"
                >{{per.dial_code}}</ion-select-option
              >
            </ion-select>
            <ion-input
              name="phone"
              [(ngModel)]="user.phone"
              type="number"
              #phoneCtrl="ngModel"
              placeholder="Phone Number"
              ngModel
              required
              number
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="!codeCtrl.valid && codeCtrl.touched && codeCtrl.errors?.required"
          >
            <ion-text color="danger"
              >Country Code is required</ion-text
            > </ion-label
          ><br />
          <ion-label
            *ngIf="!phoneCtrl.valid && phoneCtrl.touched && phoneCtrl.errors?.required"
          >
            <ion-text color="danger"
              >Phone Number is required</ion-text
            > </ion-label
          ><br />
          <!-- <ion-item>
                        <ion-select>
                            <ion-select-option *ngFor="let per of dataList">({{per.name}}) {{per.dial_code}}</ion-select-option>
                        </ion-select>
                    </ion-item><br> -->
          <!-- <ion-item>
                        <ion-icon name="call-sharp"></ion-icon>&nbsp;
                        <ion-input name="phone" [(ngModel)]='user.phone' type="number" #phoneCtrl="ngModel" placeholder="Phone Number" ngModel required number></ion-input>
                    </ion-item>
                    <ion-label *ngIf="!phoneCtrl.valid && phoneCtrl.touched && phoneCtrl.errors?.required">
                        <ion-text color="danger">Phone Number is required</ion-text>
                    </ion-label><br> -->
          <ion-item class="input-container">
            <ion-icon name="mail-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="email"
              [(ngModel)]="user.email"
              type="email"
              #emailCtrl="ngModel"
              pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              placeholder="your@gmail.com"
              ngModel
              required
              email
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="!emailCtrl.valid && emailCtrl.touched && emailCtrl.errors?.required"
          >
            <ion-text color="danger">Email is required</ion-text> </ion-label
          ><br />
          <ion-item class="input-container">
            <ion-icon name="calendar-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="birth_date"
              [(ngModel)]="user.birth_date"
              type="date"
              #dateCtrl="ngModel"
              placeholder="Birth Date"
              ngModel
              required
            ></ion-input>
          </ion-item>
          <ion-label
            *ngIf="!dateCtrl.valid && dateCtrl.touched && dateCtrl.errors?.required"
          >
            <ion-text color="danger">Date is required.</ion-text> </ion-label
          ><br />
          <ion-item class="input-container">
            <ion-icon name="key-outline" class="icon"></ion-icon>&nbsp;
            <ion-input
              type="{{type}}"
              name="password"
              [(ngModel)]="user.password"
              compare-password="confirm"
              type="password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': form.submitted && password.invalid}"
              placeholder="Password"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              ngModel
              minlength="6"
              required
              (ionInput)="validatePassword($event)"
              (ionBlur)="onBlur($event)"
            ></ion-input>
            <button
              class="btnEye"
              *ngIf="!showPass"
              ion-button
              clear
              color="dark"
              type="button"
              item-right
              (click)="showPassword()"
            >
              <ion-icon name="eye" style="font-size: 25px"></ion-icon>
            </button>
            <button
              class="btnEye"
              *ngIf="showPass"
              ion-button
              clear
              color="dark"
              type="button"
              item-right
              (click)="showPassword()"
            >
              <ion-icon name="eye-off" style="font-size: 25px"></ion-icon>
            </button> </ion-item
          ><br />
          <ion-label
            *ngIf="!password.valid && password.touched && password.errors?.required"
          >
            <ion-text color="danger">Password is required</ion-text>
          </ion-label>
          <div id="message">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">
              A <b>capital (uppercase)</b> letter
            </p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
          </div>
          <!-- <ion-label color="danger" *ngIf="password.errors?.minlength">Password must be at least 6 characters
                    </ion-label> -->
          <ion-item class="input-container">
            <ion-icon name="key-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="confirm"
              type="{{type1}}"
              [(ngModel)]="user.confirm"
              mustMatch="password"
              type="password"
              #confirm="ngModel"
              [ngClass]="{ 'is-invalid': form.submitted && confirm.invalid}"
              placeholder="Confirm Password"
              pattern="{{password.value}}"
              ngModel
              required
              (ionInput)="confirmPassword($event)"
            >
            </ion-input>
            <button
              class="btnEye"
              *ngIf="!showPass1"
              ion-button
              clear
              color="dark"
              type="button"
              item-right
              (click)="showPasswordConfirm()"
            >
              <ion-icon name="eye" style="font-size: 25px"></ion-icon>
            </button>
            <button
              class="btnEye"
              *ngIf="showPass1"
              ion-button
              clear
              color="dark"
              type="button"
              item-right
              (click)="showPasswordConfirm()"
            >
              <ion-icon name="eye-off" style="font-size: 25px"></ion-icon>
            </button>
          </ion-item>
          <ion-label
            *ngIf="!confirm.valid && confirm.touched && confirm.errors?.required"
          >
            <ion-text color="danger"
              >Confirm Password is required</ion-text
            > </ion-label
          ><br />
          <ion-label *ngIf="passwordMatch == false">
            <ion-text color="danger">Password must match</ion-text> </ion-label
          ><br />
          <ion-item class="input-container">
            <ion-icon name="image-sharp" class="icon"></ion-icon>&nbsp;
            <ion-label slot="end">Picture(Selfie)</ion-label>
            <ion-input
              name="picture"
              [(ngModel)]="user.picture"
              type="button"
              (click)="getPicture()"
              id="file-input"
              accept="image/png, image/jpeg"
              name="picture"
              #picCtrl="ngModel"
              ngModel
              required
            >
            </ion-input>
            <!-- <input type="button" value="Take a selfie picture" (click)="loadImageFromDevice($event, 'selfie')">
                        <img [src]="capturedSnapURL" /> -->
          </ion-item>
          <ion-item class="input-container">
            <ion-icon name="image-sharp" class="icon"></ion-icon>&nbsp;
            <ion-label slot="end">Picture(ID)</ion-label>
            <ion-input
              (change)="loadImageFromDevice($event)"
              id="file-input"
              accept="image/png, image/jpeg"
              name="id_image"
              [(ngModel)]="user.id_image"
              type="file"
              #picCtrl="ngModel"
              placeholder="ID Picture"
              ngModel
              required
            >
            </ion-input> </ion-item
          ><br />
          <ion-item class="input-container">
            <ion-icon name="person-sharp" class="icon"></ion-icon>&nbsp;
            <ion-input
              name="id_number"
              [(ngModel)]="user.id_number"
              type="number"
              #idCtrl="ngModel"
              placeholder="ID Number"
              ngModel
              required
              number
            ></ion-input>
          </ion-item>
          <ion-label *ngIf="!idCtrl.valid && idCtrl.touched">
            <ion-text color="danger"
              >ID Number is not valid</ion-text
            > </ion-label
          ><br />
        </div>
        <br />
        <div>
          <ion-button
            size="large"
            type="submit"
            color="secondary"
            [disabled]="form.invalid"
            expand="block"
          >
            Submit</ion-button
          >
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
