ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-item.active div {
    background-color: rgba(0, 0, 0, .3);
}

ion-list-header {
    margin-bottom: 30px;
}

ion-list-header span {
    font-size: 26px;
}

ion-list-header ion-img {
    position: relative;
    top: 0;
    width: 100px;
    height: 100px;
}

ion-note {
    position: absolute;
    margin-left: 120px;
    top: 90px;
    font-size: 15px;
    color: rgba(21, 160, 224, .5) !important;
    font-weight: 300;
}

@media (max-width: 968.98px) {
    ion-note {
        font-size: 12px;
    }
    ion-list-header span {
        font-size: 20px;
    }
    ion-item ion-label {
        font-size: 14px;
    }
}

ion-item {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

ion-item div {
    width: 100%;
    padding: 15px;
}

ion-item div ion-icon {
    position: absolute;
    font-size: 25px;
    top: 11px;
    // --color: #15a0e0;
}

ion-item div .prof {
    position: absolute;
    top: 50%;
    right: 15px;
    padding-right: 15px;
    transform: translateY(-50%);
}

ion-item.item:hover div{
    background-color: rgba(21, 160, 224, .5) !important;
    color: white !important;
}

ion-item ion-label {
    position: relative;
    margin-left: 60px;
}

ion-app {
    overflow: hidden;
}