<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>
                        <ion-img src="../assets/images/msqlogo.png"></ion-img><span>Ms.Q Associates</span>
                    </ion-list-header>
                    <ion-note>We serve at your pleasure</ion-note>

                    <ion-menu-toggle auto-hide="false">
                        <!-- <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [name]="p.icon" [name]="p.icon"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item> -->
                        <button ion-item routerDirection="root" [routerLink]="['/folder/Place Order']">
                            <ion-icon name="mail" item-start></ion-icon>Place Order
                        </button>
                        <br>
                        <button ion-item routerDirection="root" [routerLink]="['/workforce']">
                            <ion-icon name="paper-plane" item-start></ion-icon>Workforce
                        </button>
                        <br>
                        <button ion-item routerDirection="root" [routerLink]="['/folder/Finance']">
                            <ion-icon name="wallet-outline" item-start></ion-icon>Finance
                        </button>
                        <br>
                        <button ion-item routerDirection="root" [routerLink]="['/folder/Settings']">
                            <ion-icon name="settings-outline" item-start></ion-icon>Settings
                        </button>
                    </ion-menu-toggle>
                </ion-list>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>