ion-content ion-toolbar {
    text-transform: uppercase;
}

ion-toolbar {
    --background: rgba(21, 160, 224, 0.5);
}

ion-header ion-toolbar ion-title {
    font-size: 20px;
}

ion-header ion-toolbar ion-icon {
    font-size: 25px;
    font-weight: 900;
}

ion-toolbar ion-title {
    font-weight: 700;
    font-size: 12px;
}

ion-toolbar ion-title p {
    --position: absolute;
    top: 0;
}

p span {
    position: absolute;
    left: 80px;
    font-size: 12px;
}

ion-toolbar span {
    text-transform: lowercase;
}

ion-item ion-label {
    margin-left: 15px;
}

ion-note {
    margin-left: 60px;
}

ion-item ion-icon,
ion-toolbar ion-button {
    color: rgba(21, 160, 224, .5) !important;
}

ion-toggle {
    --background-checked: rgba(21, 160, 224, 1) !important;
    --handle-background: black;
    --handle-background-checked: black;
}