<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user">{{user.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="container">
  <img>
  <!-- <h1>Sample</h1> -->
  <ion-card>
    <ion-card-content>
      <div class="col-2-left" *ngIf="user">
        <p>{{user.email}}</p>
      </div>
      <div class="col-2-right" *ngIf="user">
        <p>{{user.phone}}</p>
      </div>

    </ion-card-content>
  </ion-card>
  <table>
    <div class="row header">
      <th>
        <div class="col1">Service Booking</div>
      </th>
      <th>
        <div class="col1">Schedule</div>
      </th>
      <th>
        <div class="col1">Notes</div>
      </th>
      <th>
        <div class="col1">Location</div>
      </th>
      <th>
        <div class="col1"></div>
    </div>
    <div class="row" *ngIf="user">
      <td>
        <div class="col1">{{user.service_booking}}</div>
      </td>
      <td>
        <div class="col1">{{user.schedule}}</div>
      </td>
      <td>
        <div class="col1">{{user.notes}}</div>
      </td>
      <td>
        <div class="col1">{{user.service_location}}</div>
      </td>
    </div>
  </table>
</div>
</ion-content>