<ion-header>
    <ion-toolbar>
        <ion-title>Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <ion-icon name="arrow-back" (click)="closeModal()"></ion-icon>
        <div class="content">
            <div class="column2">
                <h1>{{user.name}}</h1>
                <ion-card class="card">
                    <ion-card-content>
                        <p class="column">EMAIL: {{user.email}}</p>
                        <p class="column">PHONE: {{user.phone}}</p>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <p class="p1">Service Booking: {{service_booking}}</p>
                    <p class="p1">Booking Time: {{schedule}}</p>
                    <p class="p1" *ngIf="!status.includes('Completed')">Booking Status: {{status}}</p>
                    <p class="p1" *ngIf="status.includes('Completed')">Booking Status: {{status}}<button class="rateBtn">Rate</button></p>
                    <p class="p1">Cost: {{cost}}</p>
                    <p class="p1">Payment Method: </p>
                    <p class="p1">Payment Status: </p>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>