<ion-header>
    <ion-toolbar color="secondary">
        <ion-icon slot="start" name="arrow-back" (click)="closeModal()"></ion-icon>
        <ion-title>Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="content">
            <div class="column2">
                <img [src]="user.picture">
                <h1>{{ user.name }}</h1>
                <ion-card class="card">
                    <ion-card-content>
                        <p class="column">EMAIL: {{ user.email }}</p>
                        <p class="column">PHONE: {{ user.phone }}</p>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <p class="p1">Service Booking: {{service_booking}}</p>
                    <!-- <p class="p1">Booking Time: {{schedule}}</p> -->
                    <p class="p1" *ngIf="!status.includes('Completed')">Booking Status: {{status}}</p>
                    <p class="p1" *ngIf="status.includes('Completed')">Booking Status: {{status}}
                        <ion-button (click)="presentToast()" size="medium" color='success'>RATE</ion-button>
                        <p class="p2">Cost: {{cost}}</p>
                </ion-card>
                <ion-button *ngIf="status == 'Ongoing'" class="done" size="medium" color='secondary'>Mark as done</ion-button>
            </div>
        </div>
    </div>
</ion-content>