<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="head">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              (click)="filteredByPending()"
              size="medium"
              color="danger"
              >PENDING</ion-button
            >
            <!-- <div><button (click)="filteredByPending()" class="btnfil1">PENDING</button></div> -->
          </ion-col>
          <ion-col>
            <ion-button
              (click)="filteredByOngoing()"
              size="medium"
              color="secondary"
              >ONGOING</ion-button
            >
            <!-- <div><button (click)="filteredByOngoing()" class="btnfil2">ONGOING</button></div> -->
          </ion-col>
          <ion-col>
            <ion-button
              (click)="filteredByCompleted()"
              size="medium"
              color="success"
              >COMPLETED</ion-button
            >
            <!-- <div><button (click)="filteredByCompleted()" class="btnfil3">COMPLETED</button></div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="column1">
      <div *ngFor="let b of arryOfStatus">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="row2">
                <ion-col size="2">
                  <div class="left">
                    {{ b.schedule| date:"MM/dd/yyyy 'at' h:mma" }}
                  </div>
                </ion-col>
                <ion-col>
                  <div class="mid">
                    <p class="title">{{ b.service_booking }}</p>
                    <p class="location">{{ b.service_location }}</p>
                  </div>
                </ion-col>
                <ion-col size="1">
                  <ion-icon
                    name="eye"
                    class="buttonVD"
                    (click)="passToOrders(b)"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
