<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="head">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div><button (click)="filteredByPending()" class="btnfil1">PENDING</button></div>
                    </ion-col>
                    <ion-col>
                        <div><button (click)="filteredByOngoing()" class="btnfil2">ONGOING</button></div>
                    </ion-col>
                    <ion-col>
                        <div><button (click)="filteredByCompleted()" class="btnfil3">COMPLETED</button></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="column1">
            <div *ngFor="let b of arryOfStatus">
                <!-- <div *ngIf="!table" *ngFor="let b of bookings"> -->
                <ion-card>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row class="row2">
                                <ion-col>
                                    <div class="left">
                                        {{b.schedule}}
                                    </div>
                                </ion-col>
                                <ion-col>
                                    <div class="mid">
                                        <p class="title">{{b.service_booking}}</p>
                                        <p class="location">{{b.service_location}}</p>
                                    </div>
                                </ion-col>
                                <ion-col>
                                    <div class="buttonVD">
                                        <button (click)="passToOrders(b)">View Details</button>

                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>