.head {
    width: 100%;
}

ion-toolbar {
    --background: rgba(21, 160, 224, 0.5);
}

// .btnfil1,
// .btnfil2,
// .btnfil3 {
//     width: 100%;
//     height: 10vh;
//     border: black;
//     color: white;
//     padding: 6px;
//     font-size: 16px;
//     cursor: pointer;
//     border-radius: 10px;
// }
// .btnfil1 {
//     background-color: red;
// }
// .btnfil2 {
//     background-color: blue;
// }
// .btnfil3 {
//     background-color: green;
//     ;
// }
h4 {
    text-align: center;
    top: 3%;

}

.title,
.location {
    text-align: center;
}

.head {
    width: 100%;
}

.content {
    position: absolute;
    width: 100%;
}

.column1 {
    position: absolute;
    top: 5%;
    margin-top: 40px;
    width: 100%;
    height: 200vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.left {
    position: absolute;
    text-align: center;
    margin-top: -2px;
    left: -16px;
    width: 87%;
    height: 10vh;
    color: black;
}

.mid {
    padding: 2px;
    color: black;
    border-left: 1px solid gray;
    height: 60px;
}

ion-icon {
    margin: 10% 25% 25% 40%;
}

img {
    border-radius: 100%;
    width: 35%;
    margin-top: 5%;
    margin-left: 30%;
}

h1 {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn {
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 65%;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
}

ion-icon {
    font-size: 200%;
}

.btn1 {
    margin-right: 10%;
    margin-left: 5%;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 14px;
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
}

.viewBtn {
    height: 10vh;
    width: 38%;
    border: 1px solid black;
    margin-top: -3%;
    font-size: larger;
    font-style: bold;
    background-color: skyblue;
    border-radius: 12px;
    padding: 5px 10px;
    margin-right: -15%;
    margin-left: 61%;
}

ion-card {
    height: 16vh;
    border: 1px solid black;
}

@media (max-width: 767.98px) {
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
        position: relative;
    }
    .card-content-md p {
        margin-left: 0;
        margin-right: 0;
        margin-top: -8px;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
    }
    // p {
    //     margin-bottom: 5%;
    // }
    .ionicon,
    svg {
        display: block;
        height: 120%;
        width: 100%;
    }
    ion-icon {
        font-size: 200%;
    }
}

