<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="head">
            <!-- <ion-input>Filter</ion-input> -->
            <p>Filter:
                <!-- <button (click)="allStatus()">ALL</button> -->
                <button (click)="filteredByPending()">PENDING</button>
                <button (click)="filteredByOngoing()">ONGOING</button>
                <button (click)="filteredByCompleted()">COMPLETED</button>
            </p>
        </div>
        <div class="column1">
            <div *ngFor="let b of arryOfStatus">
                <!-- <div *ngIf="!table" *ngFor="let b of bookings"> -->
                <ion-card>
                    <ion-card-content>
                        <div class="col-1-left">
                            <div>{{b.schedule}}</div>
                        </div>
                        <div class="col-1-mid">
                            <p>{{b.service_booking}}</p>
                            <p>{{b.service_location}}</p>
                        </div>
                        <div class="col-1-right">
                            <button class="button" (click)="passToOrders(b)">View Details</button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>