<ion-content>
  <ion-card class="background">
    <ion-row>
      <ion-col>
        <ion-title>
          <ion-label>Worker Information</ion-label>
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="closeModal()" type="danger">cancel</ion-button>
      </ion-col>
    </ion-row>
    <ion-card-content>
      <ion-item>
        <ion-label>Name: {{workerInfo.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Address: {{workerInfo.address}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Birth Date: {{workerInfo.bday}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Phone No: {{workerInfo.phone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email: {{workerInfo.email}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>