<ion-header>
  <ion-toolbar>
    <ion-title>WORKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-label>Name:{{name}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Address:{{address}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Birth Date:{{bday}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Phone No.:{{phone}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Email:{{email}}</ion-label>
  </ion-card-content>
</ion-content>