ion-card {
    margin-top:10%;
    padding-top: 12px;
    background: rgba(255,255,255,0.5)
}

ion-button {
    // margin-left: 15%;
    float: right;
    color: red;
    padding-bottom: 17px;
  }


ion-card-content {
    // background-color: aqua;
    border-radius: 10px;
}



