<ion-content class="background">
    <div id="container">
        <img alt="logo" id="header_logo" height="100" float-left src="assets/images/msqlogo.png"><br>
        <strong id="title">Ms.Q Associates</strong><br><br><br>
    </div>
    <div id="container1">
        <ion-button [routerLink]="['/create-account']" expand="block" color="secondary">Create Account
        </ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button id='btnLog' [routerLink]="['/login']" fill="outline" expand="block" color="secondary">Log In</ion-button>
    </div>
</ion-content>